@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&display=swap");

body {
	font-family: "Ubuntu", Helvetica, sans-serif;
	padding: 0;
	margin: 0;
	font-size: 16px;
}

h1 {
	font-size: 2.5rem;
}

h2 {
	font-size: 2rem;
}

a {
	font-size: 1.125rem;
	text-decoration: none;
	color: #111;
}

main {
	padding: 2.5rem 5rem;
}

header {
	padding: 0 5rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-shadow: 0 2px 5px 2px rgba(0, 0, 0, 0.1);
	background-color: #1d3950;
	color: #fff;
}

header a {
	color: #fff;
	font-size: 1.215em;
}

.articles {
	display: flex;
}
