<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    <%= pageTitle %>
  </title>
  <link rel="stylesheet" href="/css/style.min.css">
  <link rel="stylesheet" href="/css/admin.min.css">
</head>

<body>
  <header>
    <h1>Personal Blog</h1>
    <nav>
      <a href="/">Home</a>
      <a href="/add-article">+ Add</a>
    </nav>
  </header>

  <main>
    <% if (articles.length> 0) { %>
      <div class="admin-articles">
        <% for (let article of articles) { %>
          <div class="article" data-id="<%= article.id %>">
            <h2>
              <%= article.title %>
            </h2>
            <div class="article-links">
              <a href="/edit-article/<%= article.id %>">Edit</a>
              <a href="/delete-article">Delete</a>
            </div>
          </div>
          <% } %>
      </div>
      <% } else { %>
        <p>No Articles. <a href="/add-article">+ Add</a> article</p>
        <% } %>
  </main>
</body>

</html>