<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Personal Blog - Admin</title>
  <link rel="stylesheet" href="css/style.css">
</head>

<body>
  <header>
    <h1>Personal Blog</h1>
    <a href="/add-article">+ Add</a>
  </header>
  <main>
    <section>
      <div class="articles">
        <div class="article">
          <h2>My First Article</h2>
          <a href="/edit-article">Edit</a>
          <a href="/delete-article">Delete</a>
        </div>
      </div>
    </section>
  </main>
</body>

</html>