<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    <%= pageTitle %>
  </title>
  <link rel="stylesheet" href="/css/style.min.css">
  <link rel="stylesheet" href="/css/admin.min.css">
</head>

<body>
  <header>
    <h1>Personal Blog</h1>
    <a href="/admin">Articles</a>
  </header>

  <main>
    <form action="/edit-article/<%= article.id %>" method="POST" class="article-form">
      <h2>Edit Article</h2>
      <div>
        <label for="title">Title</label>
        <input type="text" name="title" id="title" placeholder="Enter the article title" maxlength="100">
      </div>
      <div>
        <label for="date">Date</label>
        <input type="date" name="date" id="date" min="<%= inputDate %>" value="<%= inputDate %>">
      </div>
      <div>
        <label for="content">Content</label>
        <textarea name="content" id="content" placeholder="Write your article here..."></textarea>
      </div>
      <button type="submit">Update</button>
    </form>
  </main>
</body>

</html>