<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    <%= pageTitle %>
  </title>
  <link rel="stylesheet" href="/css/style.min.css">
  <link rel="stylesheet" href="/css/admin.css">
</head>

<body>
  <header>
    <h1>Personal Blog</h1>
    <a href="/admin">Articles</a>
  </header>

  <main>
    <form action="/edit-article" method="POST">
      <h2>Edit Article</h2>
      <input type="text" hidden name="id">
    </form>
  </main>
</body>

</html>